@import "tailwindcss";

@theme {
  --color-primary: #8c0399;
  --color-contrast_cyan: #00ffff;
  --color-contrast_gold: #ffd700;
  --color-contrast_orange: #ff7a00;
  --color-background: #3e1f47;
  --color-textSubtle: #a18baa;

  --font-texto: var(--font-texto);
  --font-titulo: var(--font-titulo);
}

.pulse {
  color: #00ffff;
  animation: neonPulse 2s ease-in-out infinite;
}

@keyframes neonPulse {
  0%,
  100% {
    text-shadow: 0 0 6px #00ffff, 0 0 12px #00ffff, 0 0 20px #00ffff;
  }
  50% {
    text-shadow: 0 0 14px #00ffff, 0 0 26px #00ffff, 0 0 40px #00ffff;
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 20s linear infinite;
}
